<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>
        Title
      </th>
    </tr>
  </thead>
  <tbody>
    <% @project.user_stories.each do |user_story| %>
      <tr data-item-id=<%= "#{user_story.id}" %> class="item">
        <td>
          <%= user_story.param1 %>
          <%= user_story.param2 %>
          <%= user_story.param3 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

