<div class="jumbotron">
  <h1 class="hero">AGILE DEVELOPMENT</h1>
  <p class="hero">Create, rearrange, and proritize user stories to help you through<br /> the AGILE developement of your project.</p>
  <p>><a role="button" class="btn btn-success btn-lg hero" <%= link_to 'SIGN UP', new_user_registration_path %></a></p>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="feature-image-1">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint suscipit nam dicta architecto expedita!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint expedita!
    </p>
  </div>
  <div class="col-md-3">
    <div class="feature-image-2">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint suscipit nam dicta architecto expedita!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint expedita!
    </p>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="feature-image-3">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint suscipit nam dicta architecto expedita!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, magni, asperiores, ducimus, sint expedita!
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="full-row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quaerat, autem ipsa cupiditate doloribus optio
      deleniti consequuntur rem ducimus mollitia inventore labore ad voluptatibus unde blanditiis velit tenetur consectetur! Eius.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quaerat, autem ipsa cupiditate doloribus optio
      deleniti consequuntur rem ducimus mollitia inventore labore ad voluptatibus unde blanditiis velit tenetur consectetur! Eius.
    </p>
    <p><a class="btn btn-success btn-lg hero center" role="button" <%= link_to 'SIGN UP', new_user_registration_path %></a></p>
  </div>
</div>
