/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require jquery-ui/sortable
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap"; 
 
 @mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$red: #DB6161;

.highlight {
  font-weight: 700;
  color: #03a9f4;
  font-size: 1.25em;
}

.navbar {
	margin-bottom: 50px;
	@include box-shadow;
	border: none;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
			color: $red;
		}
	}
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	@include box-shadow;
	background: white;
	font-weight: bold;
}


a.btn {
  color: #fff;
  .a:visited {
    color: #fff;
  }
}

h2.project_title {
  text-align: left;
}

p.project_sub_title {
    text-align: left;
    
    font-size: 1.25em;
    color: #000;
    text-align: left;
    padding-bottom: 15px;
  }
  
.active-item-shadow {
-webkit-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
-moz-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
}

p.hero {
	line-height: 1.2em;
  font-family: "Lato, Georgia, Times New Roman";
}

.jumbotron {
		background-image: url('user-story.png');
    background-size: cover;
    height: 450px;
    background-size: 500px 450px;
    background-repeat: no-repeat;
    background-position-x: 460px;
    background-position-y: 6px;
    width: 960px;
    margin: 0 auto;
    background-color: white;
}
  
body {
 	height: 100%;
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background:    -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background:    -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background:     -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background:      -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background:         linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  font-family: 'Lato', sans-serif;
}

.hero {
	align: right;
}

div.feature-image-1 {
	content: url('color-graph.png'); 
	padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 29px;
}

.feature-image-2 {
	content: url('color-handshake.png'); 
	padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 29px;
}

.feature-image-3 {
	content: url('color-web.png'); 
	padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 29px;
}

.col-md-3 {
  margin-top: 50px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 30px;
  box-shadow: 1px 2px 23px 2px;
  margin-left: 80px;
}

.row {
  padding-left: -27px;
  margin-left: 1px;
  margin-right: 50px;
}

.full-row {  
  background: #fff;
  margin: 60px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 2px 25px 3px;
}

a.btn.btn-success.btn-lg.hero.center {
  margin-left: 400px;
  margin-top: 15px;
}

footer {
  background: #f8f8f8;
  padding: 20px;
  
  p {
    text-align: center;
  }
}